body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
   /* Hero section */
   #hero {
    text-align: center;
    background: #f8f7f7;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .hero-nav {
    display: flex;
    justify-content: flex-start;
    padding: 2px 20px;
  }
  
  .hero-nav a {
    color: #333;
    font-size: 30px;
    font-weight: bold;
  }
  
  .hero-photo img {
    width: 300px;
    height: 300px;
    object-fit: cover;     
    border-radius: 8px;      
    border: 5px solid #131413;
    margin-top: 50px;
  }

  .hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .hero-content p {
    font-size: 32px;
    font-weight: bold;
    padding: 50px;
  }
  /*Project section*/
  #projects {
    background-color: rgb(12, 61, 12);
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;  
    color: inherit;         
    background: #fff;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 30px auto;
    max-width: 2500px;
    height: 200px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  .project-text {
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    flex: 1;
  }

  .project-text h3 {
    margin-top: 6px;
    margin-bottom: 5px;
  }

  .project-text p {
    margin-top: 5px;
  }

  .project-image {
    flex: 1;
  }

  .project-image img {
    width: 100%;   
    height: 100%;   
    object-fit: cover; 
    display: block;   
  }

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  

  

  