body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
   /* Hero section */
   #hero {
    text-align: center;
    background: #f8f7f7;
    color: #333;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
  }

    nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }

  .hero-nav {
    display: flex;
    justify-content: flex-start;
    padding: 2px 20px;
    margin-left: 20px;
  }
  
  .hero-nav a {
    color: #333;
    font-size: 30px;
    font-weight: bold;
  }
  
  .hero-photo img {
    width: 300px;
    height: 300px;
    object-fit: cover;     
    border-radius: 8px;      
    border: 5px solid #131413;
    margin-top: 50px;
  }

  .hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .hero-content p {
    font-size: 32px;
    font-weight: bold;
    padding: 50px;
  }
  /*Project section*/
  #projects {
    background-color: rgb(12, 61, 12);
  }

  .project-header {
    text-align: left;
    padding: 20px;
    color : #fff;
    margin-left: 20px;
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
  }

  .project-card {
    position: relative;
    text-decoration: none;  
    color: inherit;         
    background: #fff;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 30px auto;
    width: 400px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  .project-text {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 16px;
    color: #fff;

    background: linear-gradient(to top, rgba(0,0,0,0.65), rgba(0,0,0,0) 60%);

    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
  }

  .project-card:hover .project-text {
    opacity: 1;
    pointer-events: auto;
  }

  .project-text h3 {
    margin-top: 6px;
    margin-bottom: 2px;
  }

  .project-text p {
    margin-top: 3px;
    margin-bottom: 4px;
  }

  .project-image {
    position: relative;
    aspect-ratio: 16/9;;
  }

  .project-image img {
    width: 100%;   
    height: 100%;   
    object-fit: cover; 
    display: block;   
  }

  /* About */

 #about {
    padding: 20px;
    margin-left: 20px;
    text-align: left;
  }

  #about h3 {

  }
  

  

  